*{
    box-sizing: border-box;
}

*{
    background-color: #0C0E12
}
.circle-img {
    width: 337px; 
    height: 325px; 
    border-radius: 50%;
    z-index: 4;
    left: 90px; 
    right: 80px; 
    border: 7px white solid; 
}

.grid-container {
    display: inline-grid;
  }

  ul{
    list-style: none;
  }