*{
    box-sizing: border-box;
}

*{
    background-color: #0C0E12
}
.profile-pic {
    width: 255px; 
    height: 255px; 
    border-radius: 70%;
    display: inline-block;
    /* z-index: 4;
    left: 90px; 
    /* right: 80px;  */
    border: 7px white solid;  
}

.grid-container {
    display: inline-grid;
  }

  ul{
    list-style: none;
  } 

  .name{
    color: #BDC7D0;
  }

  .user-name{
   color: #BDC7D0;
  }